.os_breadcrumbs {
  background: rgba(244, 245, 245, 0.5);
  overflow-x: scroll;
  scrollbar-width: none;
  &::-webkit-scrollbar {
    width: 0;
  }
  &_list {
    padding: 5px 0px;
    display: flex;
    align-items: center;
    & ul {
      display: flex;
      & li {
        position: relative;
        margin-left: 26px;
        &:after {
          content: "";
          position: absolute;
          right: -15px;
          top: 7px;
          width: 5px;
          height: 8px;
          background: url(../img/breadcrumbs/arrow-right.svg);
        }
        &:first-child {
          margin-left: 0px;
        }
        &:last-child {
          padding-right: 16px;
          &:after {
            display: none;
          }
        }
        & a {
          font-size: 12px;
          line-height: 20px;
          color: $grey-color;
          white-space: nowrap;
        }
      }
    }
    &_back {
      display: flex;
      position: relative;
      align-items: center;
      margin-right: 32px;
      cursor: pointer;
      &:after {
        content: "";
        position: absolute;
        right: -15px;
        top: 1px;
        width: 1px;
        height: 20px;
        background-color: #cccccc;
      }
      & img {
        transform: rotate(180deg);
        margin-right: 8px;
      }
      font-size: 12px;
      line-height: 20px;
      color: $grey-color;
    }
  }
}
