.os_mob_ways_payment {
  background-color: #fff;
  margin-top: 16px;
  padding-top: 16px;
  box-sizing: border-box;
  padding-bottom: 16px;
  @media (min-width: 1024px) {
    display: none;
  }
  &_main {
    & h4 {
      font-family: "Roboto-Bold";
      font-size: 18px;
      line-height: 27px;
      color: $black-color;
    }
    &_list {
      & p {
        font-size: 14px;
        line-height: 21px;
        color: $black-color;
        margin-top: 16px;
        & b {
          font-family: "Roboto-Bold";
        }
        &:first-child {
          margin-top: 8px;
        }
      }
    }
  }
}
