.os_mob_description {
  background-color: #fff;
  margin-top: 24px;
  box-sizing: border-box;
  padding-top: 16px;
  padding-bottom: 21px;
  @media (min-width: 1024px) {
    display: none;
  }
  &_main {
    & h4 {
      font-family: "Roboto-Bold";
      font-size: 18px;
      line-height: 27px;
      color: $black-color;
    }
    & p {
      font-size: 14px;
      line-height: 21px;
      color: $black-color;
      margin-top: 8px;
    }
    &_btns {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      margin-top: 12px;
      & button {
        background-color: transparent;
        font-size: 14px;
        line-height: 21px;
        color: $blue-color;
      }
      &_hide {
        display: none;
      }
    }
    &_sertificate {
      display: flex;
      align-items: center;
      background-color: transparent;
      margin-top: 20px;
      & img {
        margin-right: 8px;
      }
      & span {
        font-size: 14px;
        line-height: 21px;
        color: $blue-color;
      }
    }
  }
}
