.os_cart_empty {
  background-color: #fff;
  height: calc(100vh - 56px);
  @media (min-width: 1024px) {
    height: calc(100vh - 71.5px);
  }
  &_content {
    &_header {
      display: flex;
      align-items: flex-start;
      padding-top: 16px;
      position: relative;
      & h4 {
        font-family: "Roboto-Bold";
        font-size: 21px;
        line-height: 32px;
        color: $black-color;
        margin-right: 16px;
      }
      & span {
        font-size: 14px;
        line-height: 21px;
        color: $black-color;
        margin-top: 8px;
      }
      &:after {
        content: "";
        position: absolute;
        left: 0;
        bottom: -4px;
        width: 100%;
        height: 1px;
        background-color: #dfe3e8;
        opacity: 0.75;
      }
    }
    &_main {
      margin-top: 32px;
      &_bold {
        font-family: "Roboto-Bold";
        font-size: 18px;
        line-height: 27px;
        color: $black-color;
        margin-top: 8px;
      }
      &_default {
        font-size: 14px;
        line-height: 21px;
        color: $black-color;
        margin-top: 8px;
      }
      &_bottom {
        @media (min-width: 768px) {
          display: flex;
        }
        &_form {
          position: relative;
          margin-top: 16px;
          @media (min-width: 768px) {
            width: 384px;
          }
          & form {
            width: 100%;
            border: 1px solid #c4cdd5;
            border-radius: 3px;
            position: relative;
            box-sizing: border-box;
            & input[type="text"] {
              font-size: 12px;
              line-height: 18px;
              color: $black-color;
              width: calc(100% - 48px);
              height: 32px;
              padding-left: 9px;
              border-radius: 3px;
            }
            & input[type="submit"] {
              position: absolute;
              cursor: pointer;
              right: 10px;
              width: 18px;
              height: 18px;
              top: 0;
              top: 50%;
              transform: translateY(-50%);
              background-repeat: no-repeat;
              background: url(../../img/header/header_desktop/search.svg);
            }
          }
          &_droplist {
            border-right: 1px solid #c4cdd5;
            border-left: 1px solid #c4cdd5;
            border-bottom: 1px solid #c4cdd5;
            border-bottom-right-radius: 3px;
            border-bottom-left-radius: 3px;
            visibility: hidden;
            min-height: 0;
            height: 0;
            opacity: 0;
            transition: visibility 0s, opacity 0s linear;
            & h5 {
              font-family: "ProximaNova-Bold";
              font-size: 12px;
              line-height: 18px;
              color: $black-color;
              padding-top: 9px;
              margin-left: 9px;
            }
            & ul {
              & li {
                box-sizing: border-box;
                padding: 7px;
                border-bottom: 1px solid #dfe3e8;
                & a {
                  font-size: 12px;
                  line-height: 18px;
                  color: $black-color;
                  display: flex;
                  align-items: center;
                  & img {
                    margin-right: 8px;
                  }
                }
              }
            }
          }
          &.filled {
            & .os_cart_empty_content_main_bottom_form_droplist {
              height: 268px;
              min-height: 268px;
              visibility: visible;
              opacity: 1;
              transition: visibility 0s, opacity 0.2s linear;
            }
          }
        }
        &_catalog {
          display: flex;
          width: 100%;
          height: 36px;
          align-items: center;
          background: #394a50;
          border-radius: 3px;
          justify-content: center;
          padding: 0px 16px;
          box-sizing: border-box;
          margin-right: 16px;
          position: relative;
          margin-top: 16px;
          @media (min-width: 768px) {
            width: 288px;
            margin-left: 32px;
          }
          &_icon {
            margin-right: 8px;
          }
          & p {
            font-family: "Roboto-Bold";
            font-size: 14px;
            line-height: 21px;
            letter-spacing: 0.2px;
            color: $white-color;
          }
        }
      }
    }
  }
}
