.os_body {
  margin: 0;
  padding: 0;
  position: relative;
  width: 100%;
  background-color: #f4f5f5;
  &.stop_scrolling {
    overflow: hidden;
    height: 100%;
    max-height: 100%;
    position: fixed;
  }
}
.os_button {
  border: none;
  outline: none;
  cursor: pointer;
  margin: 0px;
  padding: 0px;
  -webkit-tap-highlight-color: transparent;
}
.os_button:focus {
  outline: none;
  border: none;
}
div {
  -webkit-tap-highlight-color: transparent;
  &:focus {
    border: none;
    outline: none;
  }
}
.os_a {
  text-decoration: none;
  outline: none;
  -webkit-tap-highlight-color: transparent;
  font-family: "Roboto-Regular";
  letter-spacing: 0.2px;
}
.os_span {
  font-family: "Roboto-Regular";
  letter-spacing: 0.2px;
  -webkit-tap-highlight-color: transparent;
}
.os_a:hover {
  text-decoration: none;
}
.os_ul {
  list-style: none;
  margin: 0;
  padding: 0;
  & li {
    margin: 0;
    padding: 0;
    -webkit-tap-highlight-color: transparent;
  }
}

.os_input {
  border: none;
  font-size: 12px;
  line-height: 18px;
  color: $black-color;
}
.os_input:focus {
  outline: none;
}

.os_textarea:focus {
  outline: none;
}
.os_p {
  margin: 0px;
  font-family: "Roboto-Regular";
  letter-spacing: 0.2px;
}
.os_h {
  margin: 0px;
  font-family: "Roboto-Regular";
  letter-spacing: 0.2px;
  -webkit-tap-highlight-color: transparent;
}

.os_container {
  padding-right: 16px;
  padding-left: 16px;
  margin-right: auto;
  margin-left: auto;
  position: relative;
  @media (min-width: 768px) {
    max-width: 1600px;
    padding-right: 32px;
    padding-left: 32px;
  }
  @media (min-width: 1664px) {
    padding-right: 0px;
    padding-left: 0px;
  }
}
