.os_brands_mob {
  background-color: #fff;
  box-sizing: border-box;
  margin-top: 24px;
  padding-top: 32px;
  @media (min-width: 1024px) {
    display: none;
  }
  &_content {
    overflow: hidden;
    &_header {
      display: flex;
      align-items: center;
      justify-content: space-between;
      @media (min-width: 768px) {
        justify-content: flex-start;
      }
      & h3 {
        font-size: 21px;
        line-height: 32px;
        color: $black-color;
        font-family: "Roboto-Bold";
      }
      &_btns {
        display: flex;
        @media (min-width: 768px) {
          margin-left: 16px;
        }
        & button {
          border: 1px solid #dfe3e8;
          box-sizing: border-box;
          height: 36px;
          width: 36px;
          &:focus {
            border: 1px solid #dfe3e8;
          }
        }
        &_prev {
          background-color: transparent;
          border-bottom-left-radius: 3px;
          border-top-left-radius: 3px;
          border-right: none !important;
        }
        &_next {
          background-color: transparent;
          border-bottom-right-radius: 3px;
          border-top-right-radius: 3px;
        }
      }
    }
    &_slider {
      @media (min-width: 768px) {
        width: 640px;
        margin-top: 16px;
      }
      & .slick-list {
        margin: 0px -8px !important;
        @media (min-width: 768px) {
          margin: 0px -16px !important;
        }
      }
      &_item {
        box-sizing: border-box;
        width: calc(50% - 16px) !important;
        padding: 16px;
        border: 1px solid #dfe3e8;
        margin: 0px 8px;
        border-radius: 3px;
        margin-top: 12px;
        &:focus {
          border: 1px solid #dfe3e8;
        }
        @media (min-width: 768px) {
          width: 136px !important;
          margin: 0px 16px;
        }
        & img {
          height: 100%;
          width: 100%;
        }
      }
    }
    &_link {
      font-size: 14px;
      line-height: 21px;
      color: $blue-color;
      display: inline-block;
      margin-top: 20px;
    }
  }
}
